{% extends 'base.html.twig' %}

{% block title %}Wszystkie książki{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Lista książek</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Autor</th>
                <th scope="col">Opis</th>
                {% if app.user %}
                <th scope="col" style="width: 10%">Opcje</th>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <th scope="col" style="width: 10%">Status</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for book in allBooks %}
                    <tr>
                        <td>"{{ book.Title }}"</td>
                        <td>{{ book.Author }}</td>
                        <td>{{ book.Description }}</td>
                        {% if app.user %}
                        <td><a href="/borrow/{{ book.Id }}" type="submit" class="btn btn-primary mt-2">Wypożycz książkę</a></td>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <td style="width: 10%">
                                {% if book.Status == 1 %}
                                    Dostępna
                                {% else %}
                                    Niedostępna
                                {% endif %}
                                </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
