{% extends 'base.html.twig' %}

{% block title %}Twoje wypożyczone książki{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Lista książek</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">Tytuł</th>
                <th scope="col" style="width: 10%">Autor</th>
                <th scope="col">Opis</th>
                <th scope="col" style="width: 10%">Data Zwrotu</th>
                <th scope="col" style="width: 10%">Opcje</th>
            </tr>
            </thead>
            <tbody>
            {% for borrow in borrows %}
                <tr>
                    <td>"{{ borrow.book.title }}"</td>
                    <td>{{ borrow.book.author }}</td>
                    <td>{{ borrow.book.description }}</td>
                    <td>{{ borrow.returnDate }}</td>
                    <td><button class="btn btn-primary mt-2">Oddaj książkę</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
