<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} - Biblioteka{% endblock %}</title>
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/167/167755.png">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' }}" />
        {% endblock %}

        {% block javascripts %}
            <script src="{{ 'assets/js/jquery-3.6.0.slim.min.js' }}"></script>
            <script src="{{ 'assets/js/popper.min.js' }}"></script>
            <script src="{{ 'assets/js/bootstrap.js' }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container mb-2 mt-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'index' %} active {% endif %}" href="{{ path('index') }}">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'all_books' %} active {% endif %}" href="{{ path('all_books') }}">Wszystkie książki</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wypożyczone książki</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'add_book' %} active {% endif %}" href="{{ path('add_book') }}">Dodaj książkę</a>
                        </li>
                    {% endif %}
                    {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'app_login' %} active {% endif %}" href="{{ path('app_login') }}">Zaloguj się</a>
                    </li>
                    {% endif %}
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj</a>
                    </li>
                    {% endif %}
                    {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zarejestruj się</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
    </body>
</html>
